*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#e9edf5;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

.calculator{

width:360px;
background:#d7d7d7;
padding:20px;
border-radius:18px;
box-shadow:0 8px 20px rgba(0,0,0,.25);

}

.screen{

margin-bottom:18px;

}

#display{

width:100%;
height:75px;
border:none;
outline:none;
background:#dff4d8;
font-size:34px;
text-align:right;
padding:15px;
border-radius:10px;
font-weight:bold;
color:#111;

}

.keys{

display:grid;
grid-template-columns:repeat(4,1fr);
gap:12px;

}

.keys button{

height:68px;
font-size:24px;
font-weight:bold;
border:none;
border-radius:12px;
cursor:pointer;
background:#f7f7f7;
box-shadow:0 3px 8px rgba(0,0,0,.2);
transition:.2s;

}

.keys button:hover{

transform:scale(.97);

}

.gray{

background:#6b7280 !important;
color:#fff;

}

.blue{

background:#1976D2 !important;
color:#fff;

}

.equal{

background:#16A34A !important;
color:#fff;

}

.keys button:active{

transform:scale(.92);

box-shadow:none;

}

@media(max-width:480px){

.calculator{

width:95%;

}

#display{

font-size:28px;
height:65px;

}

.keys button{

height:60px;
font-size:22px;

}

}
